.header{
    display: block;
    background-color: red;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.inline{
    display: inline;
    flex: 4;
}

.border{
    margin: 10px;
    border: 1px solid blue;
    display: inline-block;
    padding: 10px;
    color: blue;
}

.botao{
    background-color: green ;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    margin: 10px;
}


.red{
    background-color: red;
    display: flex;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
}
.itens{
    flex: 1;
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: black;
    margin: 10px;
    display: inline-block;
    
    
}
.itensmeio{
    flex: 2;
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: black;
    margin: 10px;
    display: inline-block;
    
}
.gridconteiner{
    background-color: blueviolet;
	display: grid;
	grid-template-columns: repeat(3, 500px);
	grid-template-rows: repeat(3, 100px);
	row-gap: 10px;
    padding: 20px;
}

.itensgrid{
    color:white;
    text-align: center;
    background-color:red;
    padding: 20px;
}